<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Legends of Avengers</title>
    <link type="text/css" rel="stylesheet" href="../style/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Marvel:ital,wght@1,400;1,700&display=swap" rel="stylesheet">
    <base href="/">
  </head>
  <body>
    <div class="container">
      <div id="first-player-hand" class="hand first-hand">
        <div class="empty"></div>
        <div class="empty"></div>
        <div class="empty"></div>
        <div class="empty"></div>
        <div class="empty"></div>
        <div class="empty"></div>
      </div>
      <div id="first-player" class="player-section">
        <div id="first-player-avatar" class="avatar">
          <div id="first-player-health" class="health">10</div>
        </div>
        <div id="first-player-coins" class="coins-container">
          <div id="first-plater-coins-amount" class="coins-amount">6/6</div>
          <div class="coins">
            <div class="coin"></div>
            <div class="coin"></div>
            <div class="coin"></div>
            <div class="coin"></div>
            <div class="coin"></div>
            <div class="coin"></div>
          </div>
        </div>
      </div>
      <div class="playground">
        <div class="combat-button">COMBAT</div>
        <div class="first-player-section section">
          <div class="empty"></div>
          <div class="empty"></div>
          <div class="empty"></div>
          <div class="empty"></div>
          <div class="empty"></div>
        </div>
        <div class="second-player-section section">
          <div class="empty"></div>
          <div class="empty"></div>
          <div class="empty"></div>
          <div class="empty"></div>
          <div class="empty"></div>
        </div>
        <div class="time">60</div>
      </div>

      <div id="first-player" class="player-section">
        <div id="first-player-avatar" class="avatar">
          <div id="first-player-health" class="health">10</div>
        </div>
        <div id="second-player-coins" class="coins-container">
          <div id="first-plater-coins-amount" class="coins-amount">6/6</div>
          <div class="coins">
            <div class="coin"></div>
            <div class="coin"></div>
            <div class="coin"></div>
            <div class="coin"></div>
            <div class="coin"></div>
            <div class="coin"></div>
          </div>
        </div>
      </div>

      <div id="second-player-hand" class="hand second-hand">
        <div class="empty"></div>
        <div class="empty"></div>
        <div class="empty"></div>
        <div class="empty"></div>
        <div class="empty"></div>
        <div class="empty"></div>
      </div>

       <div class="first-player-deck">

    </div>
    <div class="second-player-deck">

    </div>
    </div>
   
    <script type="module" src="../js/script.js"></script>
    <script type="module" src="../js/random-cards.js"></script>
    <script type="module"src="../js/drag'n'drop.js"></script>
     
    
  </body>
</html>
